/**
 * Product page
 */
.product {
	margin-top: 15px;
}

.product_title {
	font-weight: bold;
}

p.price {
	background-color: #EEE;
	padding: 10px;
}

p.price ins span.woocommerce-Price-amount, p.price .woocommerce-Price-amount.amount:nth-child(2){
	color: #E84A4F;
	font-size: 150%;
	font-weight: bold;
}

@media all and (min-width: 768px){

	.content {
		width: 1180px;
	}

	.product div.images {
		width:380px;
		margin-right: 10px;
	}

	.entry-summary {
		width:150px;
	}

	.product div.summary{
		width: 450px;
	}

	.sidebar {
		width: 300px;
		float:left;
	}
}


/**
 * Mobile
 */
@media screen and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) {
		
}

@media screen and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 1){
	
}

@media all and (max-width: 768px){

	/** product */
	.product .woocommerce-product-gallery img {
		margin-right: 10px;
	}

	.product .summary{
		width: 100%;
	}
}